<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Document Categories</h3>
        </div>
        <div class="card-toolbar">
            <div class="form form-label-right">
                <div class="row">
                    <div>
                        <input type="text" class="form-control" name="searchText" placeholder="Search" value="" [(ngModel)]="searchText" />
                    </div>
                    <a type="button" class="btn btn-primary" (click)="create()">New Category</a>
                </div>
            </div>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th>CATEGORY NAME</th>
                    <th>DESCRIPTION</th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let cat of docCategorySubject | async | filter: searchText |  paginate: { itemsPerPage: itemsPerPage , currentPage: p}">
                        <td>{{ cat.categoryName }}</td>
                        <td>{{ cat.description }}</td>
                        <td>
                            <!-- edit -->
                            <a title="Edit Category" class="btn btn-icon btn-light btn-hover-primary btn-xs mx-3" (click)="edit(cat.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary"></span>
                            </a>
                            <!-- delete -->
                            <a title="Delete Category" class="btn btn-icon btn-light btn-hover-danger btn-xs" (click)="delete(cat.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-danger"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->
        <pagination-controls (pageChange)="p= $event"></pagination-controls>

    </div>
</div>