<div class="mt-5">
    <!-- begin: Filtration form -->
    <div class="form margin-b-30">
        <div class="form-filtration">
            <div class="row align-items-center">
                <div class="col-md-2 margin-bottom-10-mobile">
                    <form [formGroup]="searchGroup">
                        <div>
                            <input type="text" class="form-control" name="searchText" placeholder="Search" formControlName="searchTerm" />
                            <small class="form-text text-muted"><b>Search</b> in all fields</small></div>
                    </form>
                </div>
                <div class="col-md-8 margin-bottom-10-mobile"></div>
                <div class="col-md-2 text-right margin-bottom-10-mobile">
                    <button type="button" class="btn btn-primary" (click)="create()">
            New Rule
          </button>
                </div>
            </div>
        </div>
    </div>
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
            <thead>
                <th class="selection-cell-header" data-row-selection="true">
                    <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
              [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
                </th>
                <th>
                    TITLE
                    <app-sort-icon column="title" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>
                    DESCRIPTION
                    <app-sort-icon column="description" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>ACTIONS</th>
            </thead>
            <tbody>
                <tr *ngFor="let rule of ruleService.items$ | async">
                    <td class="selection-cell">
                        <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectRow(rule.id)"
                [checked]="grouping.isRowSelected(rule.id)" />
              <span></span>
            </label>
                    </td>
                    <td>{{ rule.title }}</td>
                    <td>{{ rule.description }}</td>
                    <td>
                        <button title="Edit rule" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="edit(rule.id)">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </button>
                        <button title="Delete device" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="delete(rule.id)">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- end: Table -->

    <!-- <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
    [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator> -->
</div>