<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Document Types</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary" routerLink="/documents/doctype/add">New Document Type</a>
        </div>
    </div>
    <div class="card-body">

        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-4">
                    <div class="row" [formGroup]="filterGroup">
                        <div class="col-lg-6">
                            <select class="form-control" name="status" placeholder="Filter by Status" formControlName="status">
                            <option value="">All</option>
                            <option value="1">Selling</option>
                            <option value="2">Sold</option>
                        </select><small class="form-text text-muted"><b>Filter</b> by Status</small>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" placeholder="Filter by Contition" name="condition" formControlName="condition">
                            <option value="">All</option>
                            <option value="1">New</option>
                            <option value="2">Used</option>
                        </select><small class="form-text text-muted"><b>Filter</b> by Condition</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" name="searchText" placeholder="Search" [(ngModel)]="searchText" /><small class="form-text text-muted"><b>Search</b> in all fields</small>
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
                        [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
                    </th>
                    <th>DOCUMENT TYPE</th>
                    <th>DESCRIPTION</th>
                    <th>CREATED ON</th>
                    <th>LAST UPDATED</th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let doctype of docTypeSubject | async | filter: searchText |  paginate: { itemsPerPage: itemsPerPage , currentPage: p} ">
                        <td class="selection-cell">
                            <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectRow(doctype.id)"
                                [checked]="grouping.isRowSelected(doctype.id)" />
                            <span></span>
                            </label>
                        </td>
                        <td>{{ doctype.documentName }}</td>
                        <td>{{ doctype.description }}</td>
                        <td>{{ doctype.createdAt | date }}</td>
                        <td>{{ doctype.updatedAt | date }}</td>
                        <td>
                            <!-- edit -->
                            <a title="Edit user" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" [routerLink]="'/documents/doctype/edit/' + doctype.id">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                            </span>
                            </a>
                            <!-- delete -->
                            <a title="Delete user" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="delete(doctype.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-danger">
                            </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->

        <!-- begin: Grouping -->
        <ng-container *ngIf="grouping.getSelectedRowsCount()">
            <div class="form">
                <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
                    <div class="col-xl-12">
                        <div class="form-group form-group-inline">
                            <div class="form-label form-label-no-wrap">
                                <label class="font-bold font-danger"><span>Selected records count:
                        <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1" (click)="deleteSelected()">
                        <i class="fa fa-trash"></i> Delete All
                    </button>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- end: Grouping -->

        <pagination-controls (pageChange)="p= $event"></pagination-controls>
    </div>
</div>