<!--begin::Menu Container-->


<div id="kt_aside_menu" class="aside-menu min-h-lg-800px" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1" [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown" data-menu-dropdown-timeout="500">
    <!-- begin::Menu Nav -->
    <ul class="menu-nav px-10 py-5" [ngClass]="ulCSSClasses">
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <h3 class="p-2 p-lg-3 my-1 my-lg-3">Professionals</h3>
        </li>
        <!-- begin::section -->
        <!-- <li class="menu-section">
                        <h3 class="menu-text">Users &amp; Security</h3>
                        <i class="menu-icon flaticon-more-v2"></i>
                    </li> -->
        <!-- end:: section -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/listing" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.PROFS.ALL"></span>
            </a>
        </li>
        <!-- end::1 Level -->


        <!-- begin::section -->
        <li class="menu-section">
            <h3 class="menu-text" translate="MENU.GLOBAL.SEARCH"></h3>
            <i class="menu-icon flaticon-more-v2"></i>
        </li>
        <!-- end:: section -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/search" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.GLOBAL.BASICSEARCH"></span>
            </a>
        </li>
        <!-- end::1 Level -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/advanced-search" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.GLOBAL.ADVSEARCH"></span>
            </a>
        </li>
        <!-- end::1 Level -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/listing/recent" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.GLOBAL.RECVIEWED"></span>
            </a>
        </li>
        <!-- end::1 Level -->


        <!-- begin::section -->
        <li class="menu-section">
            <h3 class="menu-text" translate="MENU.GLOBAL.MYVIEWS"></h3>
            <i class="menu-icon flaticon-more-v2"></i>
        </li>
        <!-- end:: section -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/listing/view1" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text">View 1</span>
            </a>
        </li>
        <!-- end::1 Level -->


        <!-- begin::section -->
        <li class="menu-section">
            <h3 class="menu-text" translate="MENU.GLOBAL.DATAMGT"></h3>
            <i class="menu-icon flaticon-more-v2"></i>
        </li>
        <!-- end:: section -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/create" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.PROFS.ADD"></span>
            </a>
        </li>
        <!-- end::1 Level -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/professions" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.PROFS.PROFESSIONS"></span>
            </a>
        </li>
        <!-- end::1 Level -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/specialties" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.PROFS.SPECIALTIES"></span>
            </a>
        </li>
        <!-- end::1 Level -->
        <!-- begin::1 Level -->
        <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/professionals/import" routerLinkActive="active">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
                <span class="menu-text" translate="MENU.PROFS.IMPORT"></span>
            </a>
        </li>
        <!-- end::1 Level -->

    </ul>
    <!-- end::Menu Nav -->
</div>
<!--end::Menu Container-->