<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Permissions</h3>
        </div>
        <div class="card-toolbar">
            <div class="form form-label-right">
                <div class="row">
                    <div>
                        <input type="text" class="form-control" name="searchText" placeholder="Search" [(ngModel)]="searchText" />
                    </div>
                    <a type="button" class="btn btn-primary" (click)="create()">New Permission</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-6">
                    <div class="row" [formGroup]="filterGroup">
                        <div class="col-lg-6">
                            <select class="form-control" name="category" placeholder="Filter by Category" formControlName="category">
                              <option value="">All</option>
                              <option value="cat1">Make Dynamic</option>
                            </select><small class="form-text text-muted"><b>Filter</b> by Category</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->
        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
                  [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
                    </th>
                    <th>TITLE</th>
                    <th>CATEGORY</th>
                    <th>CODE</th>
                    <th>DESCRIPTION</th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let permission of permissionsService.items$ | async | filter: searchText |  paginate: { itemsPerPage: itemsPerPage , currentPage: p}">
                        <td class="selection-cell">
                            <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectRow(permission.id)"
                    [checked]="grouping.isRowSelected(permission.id)" />
                  <span></span>
                </label>
                        </td>
                        <td>{{ permission.permissionName }}</td>
                        <td>{{ permission.category }}</td>
                        <td>{{ permission.permissionCode }}</td>
                        <td>{{ permission.description }}</td>
                        <td>
                            <!-- edit -->
                            <a title="Edit permission" class="btn btn-icon btn-light btn-hover-primary btn-xs mx-3" (click)="edit(permission.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary"></span>
                            </a>
                            <!-- delete -->
                            <a title="Delete permission" class="btn btn-icon btn-light btn-hover-danger btn-xs" (click)="delete(permission.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-danger"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->
        <pagination-controls (pageChange)="p= $event"></pagination-controls>

    </div>
</div>